header{
    width:100%;
    background-color:#62C2E8;
}

header .container {
    min-height:100vh;
    padding-bottom: 3em;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/iphone5_perfect_zpsbzl2fi6b.png");
    background-repeat: no-repeat;
    background-position: 135px 70vh;
}

header nav i.fa {
    font-size: 3em;
    color: white;
    padding-top: 0.7em;
}

header .hero {
    text-align: right;
}
header .hero #meet_perth{
    color:white;
    font-family: 'Cookie', cursive;
    font-size:6em;
 
}
header .hero p {
    color:white;
    font-size:2em;
    padding-top:1em;
    padding-bottom:5vh;
}
header .hero  a {
    padding: 1em 1em;
    color: white;
    border: 1px solid #F6FCFA;
    width: 10em;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/download_icon_zpskm8fw8xx.png");
    background-position: 7.5em 15px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: left;
}
.content1{
     width:100%;
    height:100vh;
    background-color:#F4F4F4;
    background-image:url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/ipad_flat_perfect_zpsf70uonyw.png");
    background-repeat: no-repeat;
    background-position: 100vh 30vh;
     text-align:left;
    
}
#content1_heading{
    padding-top:30vh;
     padding-bottom:4vh;
}
.p1{
    
    padding-left:0px;
    padding-right:30em;
    padding-bottom:4vh;
}
.p2{
    padding-bottom:0em;
    padding-top:0em;
    padding-right:30em;
    border-left:4px solid #6AC9B5;
    padding-left:1em;
    
}
.button{
    padding-top:4vh;
    padding:1em 1em;
    color: #F4F4F4;
    border:1px solid #6AC9B5;
    width:11em;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/aboutme-button_icon_zpskz7rnavf.png");
    background-position: 7.5em 15px;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: left;
}

.content2 .container{
     min-height:100vh;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/devices_zpstjzg5lfw.png");
    background-repeat: no-repeat;
    background-position:bottom left;
    background-color:#FFFFFF;
    text-align:right;
}
#content2_heading1{
    padding-top:10vh;
}
.content2 .container a {
    padding: 1em 1em;
    color: white;
    border: 1px solid  #EA4C89;
    width: 13em;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/dribbble-button_icon_zpscjkaezar.png");
    background-position: 11em 1.2em;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: left;
}
.p1_1{
    padding-left:35em;
    padding-right:0px;
    padding-top:1em;
}
.p2_2{
    padding-bottom:3em;
    padding-top:1em;
    padding-left:35em;
}

.like{
    text-align:center;
    width:100%;
    height:50vh;
    background-color:#1BCAB4;
}
.like a{
     padding: 1em 1em;
    color: white;
    border: 1px solid #F6FCFA;
    width: 14em;
    background-image: url("http://i288.photobucket.com/albums/ll179/agarwalshruti988/button_beer-icon_zpspiy2fojw.png");
    background-position: 11em 1.1em;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: left;
}

.subscribe{
    width:100%;
    height:80vh;
    background-color:#D0D0D4;
    margin:auto;
}
#enter_email{
    border-radius:1em;
    background-color:#FFFFFF;
    padding:1em 1em;
    text-decoration:none;
    color:#D0D0D4;
    display:inline;
    width:14em;
    position:relative;
    margin-right:-7em;
    
}
footer{
    width:100%;
    height:20vh;
    background-color:#FFFFFF;
    text-align:center;
     margin:auto;
     padding:4em;
}
